<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Daily Journal</title>
  <link href="https://fonts.googleapis.com/css2?family=Play&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Chicle&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Libre+Caslon+Display&family=Modern+Antiqua&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/css/cover.css">
  <link rel="icon" href="/images/favicon.ico">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://kit.fontawesome.com/64d58efce2.js" crossorigin="anonymous"></script>

</head>

<body>
  <div class="orient">
    <div class="trials">
      <!-- ......................................Navigation.......................................... -->
      <nav class="nav">
        <div class="nav-menu flex-row">
          <div class="nav-brand">
            <a href="#" class="text-gray">DAILY JOURNAL</a>
          </div>
          <div class="toggle-collapse">
            <div class="toggle-icons">
              <img src="/images/Nav.svg" class="image" alt="">
            </div>
          </div>

          <div>
            <ul class="nav-items">
              <li class="nav-link">
                <a href="/login">SIGN UP</a>
              </li>
              <li class="nav-link">
                <a href="/about">ABOUT</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>

      <!-- .................x.....................Navigation.......................x................... -->

      <!-- ...................................Main Section .............................................. -->
      <main>
        <section class="site-title">
          <div class="site-background">
            <h3>Your Personal Diary</h3>
            <h1>Every Heart Has Something To Say</h1>
            <form action="/check" method="get">
              <button class="btn" type="submit">Explore</button>
            </form>
          </div>
        </section>
    </div>
  </div>

  <section class="container">
    <div class="blog">
      <div class="site-content">
        <div class="post">
          <h1>Overview</h1>

          <p class="post-content"><b>Daily Journal</b> gives you a platform where you can pen down how your day was, your thoughts, actions and lot more on a daily basis. Keeping in mind the privacy of your data, this web application uses the cutting
            edge technology for authencitation.
            <br> So, why waiting ?? <br> Sign up today and pen down all your thoughts in this personal diary.
          </p>
          <hr>
          <h1>
            Contact Me
          </h1>
          <br>
          <div class="social-contact">
            <a href="https://www.facebook.com/profile.php?id=100023845596248" class="social-icon-contact1" role="button">
              <i class="fab fa-facebook"></i>
            </a>
            <a href="mailto: mail.roy.souvik@gmail.com" class="social-icon-contact2" role="button">
              <i class="far fa-envelope"></i>
            </a>
            <a href="https://www.instagram.com/iam_souvik_roy/" class="social-icon-contact3" role="button">
              <i class="fab fa-instagram"></i>
            </a>
          </div>
        </div>
        <aside class="sidebar">
        </aside>
      </div>
    </div>
  </section>
  </main>
  <!-- .............XX......................Main Section .......................XX....................... -->

  <footer class="footer">
    <div class="container">
      <div class="copyright">
        <h4>© Copyright Souvik 2020</h4>
      </div>
    </div>
  </footer>




  <script type="text/javascript">
    $('.toggle-icons').click(function() {
      $(".nav").toggleClass("collapse-home");
      $(".trials").toggleClass("trials-sp");
      $(".trials").toggleClass("trials-ln");
      $(".orient").toggleClass("orient-height");
    });
  </script>
</body>

</html>
